<launch>
  <arg name="room" default="" />
  <arg name="world_name" default="empty_world"/>
  <arg name="physics" default="ode"/> <!-- ode, bullet, dart -->
  <env name="GAZEBO_MODEL_PATH" value="$(find tuw_gazebo_models)/models/environments/:$(find tuw_gazebo_models)/models/visual_marker/$(find tuw_gazebo_models)/models/tuwr/"/> 
     
  <!-- Gazebo  -->
  <include file="$(find tuw_gazebo_models)/launch/empty_world.launch">
     <arg name="physics" value="$(arg physics)" />
     <arg name="world_name" value="$(find tuw_gazebo_models)/worlds/$(arg world_name).world"/>
  </include>
  
  <node name="$(arg room)" pkg="gazebo_ros" type="spawn_model" args="-file $(find tuw_gazebo_models)/models/environments/$(arg room)/model.sdf -sdf -x 0 -y -0 -z 0 -model $(arg room)" />
</launch>
