<?xml version="1.0"?>

<model>
  <name>RobLab</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Benjamin Binder</name>
    <email>benjamin.binder@tuwien.ac.at</email>
  </author>

  <description>
    A model of the Institute 4th Floor Treitlstraße 1-4 in Vienna
  </description>

  <depend>
  </depend>
</model>
