<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Front Laser -->
<xacro:macro name="laser" params="name frame_names topic_names parent xyz rpy driver:=cpu model_dir:=^">

    <xacro:if     value="${driver == 'gpu'}"> <xacro:property name="sensor_type" value="gpu_ray"/> <xacro:property name="driver_type" value="libtuw_gazebo_ros_gpu_laser.so"/> </xacro:if>
    <xacro:unless value="${driver == 'gpu'}"> <xacro:property name="sensor_type" value="ray"    /> <xacro:property name="driver_type" value="libtuw_gazebo_ros_laser.so"    /> </xacro:unless>

    <joint name="${parent}_${name}_chassis_joint" type="fixed">
	<axis xyz="0 0 1" />
	<origin xyz="${xyz}" rpy="${rpy}"/>
	<parent link="${parent}"/>
	<child link="${name}_chassis"/>
    </joint>

    <material name="SickBlue">
	<color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
    </material>

    <link name="${name}_chassis">
	<collision>
	    <origin xyz="0 0 0.0751" rpy="0 0 0"/>
	    <geometry>
		<box size="0.094 0.094 0.152"/>
	    </geometry>
	</collision>
	<visual>
	    <geometry>
		<mesh filename="file://${model_dir}/meshes/Sick-LMS100.dae"/>
	    </geometry>
	    <material name="SickBlue"/>
	</visual>
	<xacro:box_inertial x="0.094" y="0.094"  z="0.152" mass="1.1" />
    </link>


    <joint name="${name}_chassis_${name}_joint" type="fixed">
	<axis xyz="0 0 1" />
	<origin xyz="0 0 0.115" rpy="0 0 0"/>
	<parent link="${name}_chassis"/>
	<child link="${name}"/>
    </joint>

    <link name="${name}"/>
    <gazebo reference="${name}">
	<sensor name="laser" type="${sensor_type}">
	    <pose>0 0 0 0 0 0</pose>
	    <update_rate>25</update_rate>
	    <always_on>1</always_on>
	    <visualize>true</visualize>
	    <ray>
		<scan>
		    <horizontal>
			<!-- Sick-LMS100 has  683 steps with 0.35139 Degree resolution-->
			<resolution>1</resolution>
			<max_angle>2.356000000</max_angle> <min_angle>-2.356000000</min_angle> <samples>1080</samples>     <!-- 135 to -135 Degree -->
			<!--max_angle>2.094400000</max_angle> <min_angle>-2.094400000</min_angle> <samples>683</samples--> <!-- 120 to -120 Degree -->
			<!--max_angle>1.745329252</max_angle> <min_angle>-1.745329252</min_angle> <samples>570</samples--> <!-- 100 to -100 Degree -->
			<!--max_angle>1.919862177</max_angle> <min_angle>-1.919862177</min_angle> <samples>626</samples--> <!-- 110 to -110 Degree -->
		    </horizontal>
		</scan>
		<range>
		    <min>0.15</min>
		    <max>20.0</max>
		    <resolution>0.01</resolution>
		</range>
		<noise>
		    <type>gaussian</type>
		    <mean>0.0</mean>
		    <stddev>0.005</stddev>
		</noise>
	    </ray>

	    <plugin name="gazebo_ros_laser_SICK_driver" filename="${driver_type}" >
		<rosDebugLevel>Debug</rosDebugLevel>
		<robotNamespace></robotNamespace>
		<topicName>${topic_names}</topicName>
		<frameName>${frame_names}</frameName>
		<rangeMin>0.4</rangeMin>
	    </plugin>
	</sensor>
    </gazebo>
</xacro:macro>

</robot>
