<?xml version="1.0"?>

<model>
  <name>gh25_aula_HD</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Horatiu George Todoran</name>
    <email>todorangrg@gmail.com</email>
  </author>

  <description>
    A detailed model of Gusshausstraße aula.
  </description>

  <depend>
  </depend>
</model>
