<?xml version="1.0"?>

<model>
  <name>floragasse</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Markus Suchi</name>
    <email>9103533@student.tuwien.ac.at</email>
  </author>

  <description>
    A model of Floragasse C04.
  </description>

  <depend>
  </depend>
</model>
