<?xml version="1.0"?>
<launch>

  <arg name="rviz"                                          default="true" />
  <arg name="room"                                          default="cave" />
  <arg name="physics"                                       default="ode"/> <!-- ode, bullet, dart -->
  <arg name="motor_plugin"                                  default="diff_twist" /> <!-- diff_twist or diff_iws. If something else is set, no plugin will be loaded-->
  <arg name="launch_robot_state_publisher"                  default="true" />
  <arg name="launch_ground_truth_robot_state_publisher"     default="false" />
  
  
  
  <!-- Gazebo world with environment -->
  <include file="$(find tuw_gazebo_models)/launch/room_world.launch">
     <arg name="physics" value="$(arg physics)" />
     <arg name="room"    value="$(arg room)"    />
     <arg name="world_name" value="empty" />
  </include>
  
  <!-- Robot with diff drive -->
  <include file="$(find tuw_gazebo_models)/launch/pioneer3dx/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r0" />
     <arg name="position" value="-x -7.0 -y -7.0 -z 0.01 -Y 0.78" />
     <arg name="motor_plugin" value="$(arg motor_plugin)" />
     <arg name="launch_robot_state_publisher" value="$(arg launch_robot_state_publisher)" />
     <arg name="launch_ground_truth_robot_state_publisher" value="$(arg launch_ground_truth_robot_state_publisher)" />
   </include>

  <include file="$(find tuw_gazebo_models)/launch/pioneer3dx/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="position" value="-x -6.5 -y -6.5 -z 0.01 -Y -0.78" />
     <arg name="motor_plugin" value="$(arg motor_plugin)" />
     <arg name="launch_robot_state_publisher" value="$(arg launch_robot_state_publisher)" />
     <arg name="launch_ground_truth_robot_state_publisher" value="$(arg launch_ground_truth_robot_state_publisher)" />
   </include >

  <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1" 
     args="0.0 -0.0 0.0 0.0 0.0 0.0 base_link r0/odom 200" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r2" 
     args="0.0  0.0 0.0 0.0 0.0 0.0 base_link r1/odom 200" />
     
  <!-- RVIZ   -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tuw_gazebo_models)/launch/pioneer3dx/multi_pioneer3dx.rviz" />
  </group>
  
</launch>
