<launch>

  <arg name="room" default="cave" />
  <arg name="physics" default="ode"/> <!-- ode, bullet, dart -->
  
  <!-- Gazebo world with environment -->
  <include file="$(find tuw_gazebo_models)/launch/room_world.launch">
     <arg name="physics" value="$(arg physics)" />
     <arg name="room"    value="$(arg room)"    />
  </include>

  <!-- Robot with diff drive -->
  <include file="$(find tuw_gazebo_models)/launch/pioneer3dx/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="robot_position" value="-x -7.0 -y -7.0 -z 0.01 -Y 0.78" />
   </include>
  
</launch>
