<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hokuyo" >


    <!-- hokuyo Laser --> 
    <xacro:macro name="laser" params="name frame_names topic_names parent xyz rpy driver:=cpu visualize:=true models_dir:=^" >
    
        
        <joint name="${parent}_${name}_joint" type="fixed">
        <axis xyz="0 0 1" />
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <parent link="${parent}"/>
        <child link="${name}"/>
        </joint>
        
        <link name="${name}">
        <collision>
            <origin xyz="0 0 -0.025" rpy="0 0 0"/>
            <geometry>
            <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 -0.025" rpy="0 0 0"/>
            <geometry>
            <mesh filename="file://${models_dir}/hokuyo/meshes/hokuyo.dae"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="1e-2" />
            <origin xyz="0 0 -0.025" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
        </link>
        
    </xacro:macro>

  
</robot>