<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hokuyo" >


    <!-- hokuyo Laser --> 
    <xacro:macro name="laser" params="name parent namespace topic_name frame_name xyz rpy driver:=cpu visualize:=true models_dir:=^" >
    
        <xacro:if value="${driver == 'gpu'}">
            <xacro:property name="sensor_type" value="gpu_ray"/>
        </xacro:if>
        <xacro:if value="${driver == 'cpu'}">
            <xacro:property name="sensor_type" value="ray"/>
        </xacro:if>
        
        <joint name="${parent}_${name}_joint" type="fixed">
            <axis xyz="0 0 1" />
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${parent}"/>
            <child link="${name}"/>
        </joint>
        
        <link name="${name}">
            <collision>
                <origin xyz="0 0 -0.025" rpy="0 0 0"/>
                <geometry>
                <box size="0.05 0.05 0.05"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 -0.025" rpy="0 0 0"/>
                <geometry>
                <mesh filename="file://${models_dir}/hokuyo/meshes/hokuyo.dae"/>
                </geometry>
            </visual>
            <inertial>
                <mass value="1e-2" />
                <origin xyz="0 0 -0.025" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
            
   
        </link>

            <!-- ray sensor -->
            <gazebo reference="${name}">
                <sensor name="${name}_sensor" type="${sensor_type}">
                    <pose>0 0 0 0 0 0</pose>
                    <update_rate>30</update_rate>
                    <visualize>${visualize}</visualize>  
                    <always_on>true</always_on>
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>683</samples>
                                <resolution>1.0</resolution>
                                <min_angle>-2.35619449019</min_angle>
                                <max_angle>2.35619449019</max_angle>
                            </horizontal>
                        </scan>
                        <range>
                            <min>0.05</min>
                            <max>10</max>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </ray>
                    <plugin name="${name}_laserscan" filename="libgazebo_ros_ray_sensor.so">
                        <ros>
                            <namespace>${namespace}</namespace>
                            <remapping>~/out:=${topic_name}</remapping>
                        </ros>
                        <output_type>sensor_msgs/LaserScan</output_type>
                        <frame_name>${frame_name}</frame_name>
                    </plugin>
                </sensor>
            </gazebo> 


    </xacro:macro>

  
</robot>