<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pioneer3dx" >
    
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find tuw_gazebo_models)/xacro/materials.xacro" />
  
  
  <!-- Import robot -->
  <xacro:include filename="$(find tuw_gazebo_models)/xacro/pioneer3dx/pioneer3dx_body.xacro"/>
  <xacro:pioneer3dx_body name="chassis" parent="base_link" meshes="package://tuw_gazebo_models/meshes/pioneer3dx"/>
  
  <!-- Laser -->
  <xacro:include filename="$(find tuw_gazebo_models)/xacro/laser/hokuyo.xacro"/>
  <xacro:laser name="front_laser" parent="chassis" xyz="0.16 0 0.125" rpy="0 0 0" driver="gpu" meshes="package://tuw_gazebo_models/meshes/laser"/>
  
  <!-- Camera 
  <xacro:include filename="$(find tuw_gazebo_models)/xacro/camera/camera.xacro"/>
  <xacro:cam name="front_camera" parent="chassis" xyz="0 0 0.5" rpy="0 0 0" />
   -->
  
</robot>
