<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pioneer3dx" >
    
  <xacro:arg name="model_dir"      default="/home/max/projects/ros2/gazebo/ws01/src/tuw2_gazebo/tuw_gazebo_description/models"/>
  <xacro:arg name="platform_dir"   default="pioneer3dx"/>
  <xacro:arg name="namespace"      default="r0"/>
    
  <!-- Import Rviz colors -->
  <xacro:include filename="$(arg model_dir)/materials.xacro" />
    
  <!-- Import platform -->
  <xacro:property name="model_dir" value="$(arg model_dir)/$(arg platform_dir)/body"/>
  <xacro:include filename="${model_dir}/body.xacro"/>
  <xacro:vehicle_body name="chassis" parent="base_link"/>
  
  <xacro:include filename="$(arg model_dir)/$(arg platform_dir)/plugins.xacro"/>
  <xacro:differential_drive namespace="$(arg namespace)" />
  
</robot>
