<?xml version="1.0"?>

<model>
  <name>Pioneer 3DX TUW</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Markus Bader</name>
    <email>markus.bader@tuwien.ac.at</email>
  </author>

  <description>
    A model of the Pioneer 3DX 
  </description>

  <depend>
  </depend>
</model>
