<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Camera --> 
<xacro:macro name="cam" params="name parent xyz rpy">
    
  <joint name="${parent}_${name}_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
  </joint>
      
  <!-- Camera -->
  <link name="${name}">
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    <!--visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.1"/>
      </geometry>
      <material name="grey"/>
    </visual-->
    <!--collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.1"/>
      </geometry>
    </collision-->
  </link>
  <gazebo reference="${name}">
    <material value="Gazebo/Grey"/>
  </gazebo>
    
  <gazebo reference="${name}">
    <sensor type="depth" name="camera1">
        <update_rate>0.5</update_rate>
        <camera name="head">
          <!-- TODO(lucasw) is noise used?
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
          -->
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_depth_camera.so">
          <alwaysOn>true</alwaysOn>
          <!-- Keep this zero, update_rate will control the frame rate -->
          <updateRate>0.0</updateRate>
          <cameraName>camera1</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <!-- neither camera info is getting published, frame_id is empty
            in points and both image headers -->
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudTopicName>points</pointCloudTopicName>
          <frameName>${name}</frameName>
          <!-- TODO(lucasw) is this used by depth camera at all? -->
          <hackBaseline>0.07</hackBaseline>
          <pointCloudCutoff>0.001</pointCloudCutoff>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
  </gazebo>    
</xacro:macro>
</robot>
