<?xml version='1.0'?>
<database>
<name>model database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://cave</uri>
<uri>file://dsa_hall</uri>
<uri>file://floragasse</uri>
<uri>file://gh25</uri>
<uri>file://gh25_aula_HD</uri>
<uri>file://gh25_dsa</uri>
<uri>file://hbf</uri>
</models>
</database>

