<?xml version='1.0'?>
<database>
<name>Viusal Marker Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://BchThin_0000</uri>
<uri>file://BchThin_0001</uri>
<uri>file://BchThin_0002</uri>
<uri>file://BchThin_0003</uri>
<uri>file://BchThin_0004</uri>
<uri>file://BchThin_0005</uri>
<uri>file://BchThin_0006</uri>
<uri>file://BchThin_0007</uri>
<uri>file://BchThin_0008</uri>
<uri>file://BchThin_0009</uri>
<uri>file://BchThin_0010</uri>
<uri>file://BchThin_0011</uri>
<uri>file://BchThin_0012</uri>
<uri>file://BchThin_0013</uri>
<uri>file://BchThin_0014</uri>
<uri>file://BchThin_0015</uri>
<uri>file://BchThin_0016</uri>
<uri>file://BchThin_0017</uri>
<uri>file://BchThin_0018</uri>
<uri>file://BchThin_0019</uri>
<uri>file://BchThin_0020</uri>
</models>
</database>

